// the main bootstrap file
@import "./node_modules/bootstrap/less/bootstrap";
// necessary to avoid compilation error
@icon-font-path: "../node_modules/bootstrap/fonts/";
// customizations

.appload {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 9999999999;
    text-align: center;

    .loader {
        position: absolute;
        top: 50%;
        border: 7px solid #f3f3f3; /* Light grey */
        border-top: 7px solid #337ab7; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 2px;
        overflow: visible;
        display: inline-block;
        float: right;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}




.sidebar {
    text-align: left;
    background-color: #e6e6e6;
    display: none;
    box-sizing: border-box;

     @media (min-width: 768px) {
        position: fixed;
        overflow: scroll;
        height: 100%;
        width: 260px;
        padding: 15px;
        display: block;
     }
     
    .filter {
        cursor: pointer;
    }

    h4 {
        margin-top: 30px;
        color: #3d4248;
    }
    .searchinput {
        text-align: center;
        background-color: #eee;
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
        }

        :-ms-input-placeholder {  
            text-align: center; 
        }
    }

    .add-list {
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 15px;
        bottom: 0;
        left: 0;
        
    }

}


.main {
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 768px) {
        margin-left: 260px;
        width: ~"calc(100% - 260px)";
     }

    .addTask {
        text-align: center;
        padding: 10px 40px;
        position: sticky;
        position: fixed;
        overflow: hidden;
        background-color: #fff;
        opacity: 0.95;
        border-radius: 4px;
        width: ~"calc(100% - 260px)";
        @media (max-width: 768px) {
            padding: 10px;
            width: 100%;
        }

        .form-inline {
            display: flex;
            background-color: #fff;
            input, input:read-only, button, span.input-group {
                border-radius: 4px;
                margin: 0 2px 0 0;
                opacity: 1;
                background-color: #fff;
                height: 34px;
                @media (max-width: 768px) {
                    padding: 10px;
                }
            }
            .tasktitleinput {
                flex-grow: 8;
            }
            .flatpickr-input {
                flex-grow: 3;
            }
            button {
                flex-grow: 2;
            }
            input[type="date"]{
                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                display:flex;
                display:-webkit-flex;
            }
            
        }
        
    }

    .tasklist {
        padding-top: 50px;

         .datearea {
            width: 100%;
            padding-top: 30px;
            margin-bottom: 20px;

            .day {
                display: inline-block;
                margin: 0;
                font-size: 2.1em;
                font-weight: bold;
                color: #2e2e2e;
                text-align: right;
                width: 50px;
            }

            .date {
                width: ~"calc(100% - 100px)";
                display: inline-block;
                color: #c1c1c1;
                border-top: 1.5px solid #c1c1c1;
                font-weight: bold;
                margin: 10px 0 0 10px;
                font-size: 1.2em;
            }

            .today{
                border-top: 1.5px solid #337ab7;
                color: #337ab7;
            }
        }

        .todo {
            border: 1px solid #fcfcfc;
        }

        ul {
            @media (max-width: 768px) {
                    padding: 10px;
                }  
            ul {  
            }        
            li {
                width: 90%;
            }
            .task {
                border-radius: 3px;
                padding: 3px;
            }
            .completed {
                border: 1px solid #f7f7f7;
                background-color: #f9f9f9;
            }

            input.syncInProgress{
                font-style: italic;
            }

            .loader {
                border: 2px solid #f3f3f3; /* Light grey */
                border-top: 2px solid #337ab7; /* Blue */
                border-radius: 50%;
                width: 16px;
                height: 16px;
                margin: 2px;
                overflow: visible;
                display: inline-block;
                float: right;
                animation: spin 2s linear infinite;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }

    }
}

