// the main bootstrap file
@import "./node_modules/bootstrap/less/bootstrap";
// necessary to avoid compilation error
@icon-font-path: "../node_modules/bootstrap/fonts/";
// customizations

.sidebar {
    text-align: left;
    background-color: #f7f7f7;
    display: none;

     @media (min-width: 768px) {
        position: fixed;
        overflow: scroll;
        height: 100%;
        width: 260px;
        padding: 15px;
        display: block;
     }
     
    .filter {
        cursor: pointer;
    }

    h4 {
        margin-top: 30px;
    }
    .searchinput {
        text-align: center;
        background-color: #fcfcfc;
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
        }

        :-ms-input-placeholder {  
            text-align: center; 
        }
    }
}


.main {
    background-color: #fff;
    width: auto;
    position: relative;
    @media (min-width: 768px) {
        margin-left: 260px;
     }

    .addTask {
        text-align: center;
        padding: 15px;
        width: 100%;
        position: fixed;
        overflow: hidden;
        background-color: #fff;
        border-radius: 4px;

        .form-inline {
            input, button, span.input-group {
                float: left;
                border-radius: 4px;
                margin: 0 2px 0 0;
            }
        }
        
        .tasktitleinput {
            width: auto;
            //min-width: 30%;
        }
    }

    .tasklist {
        padding-top: 50px;

         .datearea {
            padding-top: 30px;
            margin-bottom: 20px;

            .day {
                display: inline-block;
                margin: 0;
                font-size: 2.1em;
                font-weight: bold;
                color: #2e2e2e;
                text-align: right;
                width: 7%;
            }

            .date {
                width: 80%;
                display: inline-block;
                color: #c1c1c1;
                border-top: 1.5px solid #c1c1c1;
                font-weight: bold;
                margin: 10px 0 0 10px;
                font-size: 1.2em;
            }

            .today{
                border-top: 1.5px solid #337ab7;
                color: #337ab7;
            }
        }

        .todo {
            border: 1px solid #fcfcfc;
        }

        ul {
            ul {
                @media (max-width: 768px) {
                padding-left: 0;
                }    
            }        
            li {
                width: 90%;
            }
            .task {
                border-radius: 3px;
                padding: 3px;
            }
            .completed {
                border: 1px solid #f7f7f7;
                background-color: #f9f9f9;
            }
        }

    }
}

